
@font-face {
    font-family: 'NEOSANSARABIC';
    src: 
        url('../font/NEOSANSARABIC-LIGHT.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'NEOSANSARABIC';
    src: 
        url('../font/NEOSANSARABIC.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'NEOSANSARABIC';
    src:
        url('../font/NEOSANSARABIC-BOLD.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}



@font-face {
    font-family: 'NEOSANSARABIC';
    src: 
        url('../font/NEOSANSARABIC-BLACK.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}